

@media (min-width:1700px){
   
    .days{
        width: 20%; 
     
       margin:10px auto ; 
       display: grid;
       grid-template-columns:100px  auto; 
       /* display: flex;
       flex-direction:row; */
       gap: 50px;
       font-weight: bold;
       align-items: center;
       
   }

}




@media (max-width:1366px){

    *{
        padding: 0;
    }
        .top-header{
           display: none;
        }
       
        
   
        .header-nav{
            width: 80%;
            padding: 0 20px;
        }

        nav li a{
            
        }
    
        nav{
            position:fixed;
            left: -300px; 
            top: 0;
            z-index: 999;
            width: 280px;
            height: 100vh;
            background-color: #fefefe00;
            backdrop-filter: blur(60px);
            transition: 0.5s;
            box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.5);
                  
          }
    
    
        #nav_check:checked ~  nav{
             left: 0; 
            
        }
    
        .header-nav nav .logo{
            display: block;
            height: 80px;
            display: flex;
            align-items: center;
            margin-left: 30px;
        }
    
        .header-nav nav ul li a{
            margin-bottom: 5px;
            padding: 10px 15px;
            border-radius: 50px;
            color:rebeccapurple;
            display: flex;
            
        }

         .header-nav nav ul li  a.active{
            background-color:white;
        } 

        .header-nav nav ul li a:hover{
        
        }
        
    
        .header-nav nav ul{
            display: block;
            padding: 10px;
        }
    
    
        .hamburger{
            display: block;
            
        }

        .intro .welcome p{
            font-size: 30px;
            font-weight: bold;
        
        }

        .hero{
            width: 100%;
            background-repeat: no-repeat;
            height: 170x;
}


.sample{
     padding: auto;
    grid-template-columns: 300px 300px 300px;
}

.sample .image img{
    /* width: 80%;
    border-radius: 180px;
    height: 80px; */

}

.sample{
    font-size:25px ;
}

.products .feature p{
    font-size: 25px;
    font-weight: 30;
}

.products .display .pro1{
  font-size: 15px;
  
 
}


 .products .display{
     grid-template-columns: 400px 400px;
     
     
  
 }



.products .display .pro1 img{
    width:100%;
    height: 30vh;
 }


 .days{
    width: 10%;
    margin:20px auto ;
    display: grid;
    grid-template-columns: 200px auto;
    text-align: justify;
    gap: 50px;
    justify-content: center;

}


 footer .social{ 
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 40px;
    color: #fefefe;
    background-color: black;
}


footer .power p{
   font-size: 12px;
}
 
 

}











@media (max-width:1194px){
   

        *{
            padding: 0;
        }
            .top-header{
               display: none;
            }
           
            
       
            .header-nav{
                width: 80%;
                padding: 0 20px;
            }
    
            nav li a{
                
            }
        
            nav{
                position:fixed;
                left: -300px; 
                top: 0;
                z-index: 999;
                width: 280px;
                height: 100vh;
                background-color: #fefefe00;
                backdrop-filter: blur(60px);
                transition: 0.5s;
                box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.5);
                      
              }
        
        
            #nav_check:checked ~  nav{
                 left: 0; 
                
            }
        
            .header-nav nav .logo{
                display: block;
                height: 80px;
                display: flex;
                align-items: center;
                margin-left: 30px;
            }
        
            .header-nav nav ul li a{
                margin-bottom: 5px;
                padding: 10px 15px;
                border-radius: 50px;
                color:rebeccapurple;
                display: flex;
                
            }
    
             .header-nav nav ul li  a.active{
                background-color:white;
            } 
    
            .header-nav nav ul li a:hover{
            
            }
            
        
            .header-nav nav ul{
                display: block;
                padding: 10px;
            }
        
        
            .hamburger{
                display: block;
                
            }
    
            .intro .welcome {
                font-size: 30px;
                font-weight: 30;
            
            }
    
            .hero{
                width: 100%;
                background-repeat: no-repeat;
                height: 170x;
    }
    
    
    .sample{
         padding: auto;
        grid-template-columns: 300px 300px 300px;
    }
    
    .sample .image img{
        /* width: 80%;
        border-radius: 180px;
        height: 80px; */
    
    }
    
    .sample{
        font-size:25px ;
    }
    
    .products .feature p{
        font-size: 25px;
        font-weight: 30;
    }
    
    .products .display .pro1{
      font-size: 15px;
      
     
    }
    
    
     .products .display{
         grid-template-columns: 300px 300px;
         
         
      
     }
    
    
    
    .products .display .pro1 img{
        width:100%;
        height: 30vh;
     }



     .about p{
        text-align: center;
        padding-bottom: 10px;
        width: 100%;
        text-align: justify;
      }


      

     .days{
        width: 100%;
        margin:20px auto ;
        display: grid;
        grid-template-columns: 100px auto;
        text-align: justify;
        gap: 50px;
        justify-content: center;
    
    }


    .contact .social{
        text-align: center;
        margin: 50px;
        display: grid;
        grid-template-columns: 400px 400px;
        justify-content: center;
       } 
       
       
       .contact .social .icon{
         background-color: #fefefe;
         margin: 40px;
         border-radius: 16px;
         padding: 10px;
       }
       
       .contact .social i{
          background-color: #f4f4f4; 
          padding: 20px;
          border-radius: 50px;
          margin: 15px 0 10px;
       }
       

       .contact .social{
        text-align: center;
        margin: 50px;
        display: grid;
        grid-template-columns: 400px 400px;
        justify-content: center;
       } 
       
       
       .contact .social .icon{
         background-color: #fefefe;
         margin: 10px;
         border-radius: 16px;
         padding: 10px;
       }
       
       .contact .social i{
          background-color: #f4f4f4; 
          padding: 20px;
          border-radius: 50px;
          margin: 15px 0 10px;
       }




       .newsletter{
        padding-top: 2px;
        text-align: center;
        text-align: center;
        margin: auto;
      
    }
    
    .newsletter .intro p{
       text-transform: capitalize;
       font-weight: bold;
       font-size: 15px;
       padding: 5px;
       text-align: center;
       margin-bottom: 30px;
       
    }
    
    form{
        /* padding: 80px;
        background-color: #ffffff; */
    
        
    }
    
    
    form .form-control{
        /* padding: 10px;
        margin: 20px;
        font-weight: bold; */
        /* display: flex; */
       
    
    }
    
    form .form-control input{
        /* padding: 15px;
        border-radius: 6px;
        border:#f4f4f4  5px solid;
        width: 80%;
         */
    
    }
    
    
    
    
    form button{
       
            margin: 10px auto;
            border: none;
            border-radius: 30px;
            padding: .3em 2em;
            background-color:  rgb(167, 167, 189);
            color: var(--base-color);
            font: inherit;
            font-weight: 600;
            text-transform: uppercase;
            cursor: pointer;
            transition: 150ms ease;
    
    }
     
    
    
    
       
    
    
     footer .social{ 
        display: flex;
        align-items: center;
        justify-content:space-around;
        height: 40px;
        color: #fefefe;
        background-color: black;
    }
    
    
    footer .power p{
       font-size: 12px;
    }



     
     
    
    }















    @media (max-width:1024px){

        *{
            padding: 0;
        }
            .top-header{
               display: none;
            }
           
            
       
            .header-nav{
                width: 80%;
                padding: 0 20px;
            }
    
            nav li a{
                
            }
        
            nav{
                position:fixed;
                left: -300px; 
                top: 0;
                z-index: 999;
                width: 280px;
                height: 100vh;
                background-color: #fefefe00;
                backdrop-filter: blur(60px);
                transition: 0.5s;
                box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.5);
                      
              }
        
        
            #nav_check:checked ~  nav{
                 left: 0; 
                
            }
        
            .header-nav nav .logo{
                display: block;
                height: 80px;
                display: flex;
                align-items: center;
                margin-left: 30px;
            }
        
            .header-nav nav ul li a{
                margin-bottom: 5px;
                padding: 10px 15px;
                border-radius: 50px;
                color:rebeccapurple;
                display: flex;
                
            }
    
             .header-nav nav ul li  a.active{
                background-color:white;
            } 
    
            .header-nav nav ul li a:hover{
            
            }
            
        
            .header-nav nav ul{
                display: block;
                padding: 10px;
            }
        
        
            .hamburger{
                display: block;
                
            }
    
            .intro .welcome p{
                font-size: 25px;
                font-weight: lighter;
            
            }
    
            .hero{
                width: 100%;
                background-repeat: no-repeat;
                height: 170x;
    }
    
    
    .sample{
        padding: auto;
        grid-template-columns: 300px 300px 300px;
    }
    
    .sample .image img{
        /* width: 80%;
        border-radius: 180px;
        height: 80px; */
    
    }
    
    .sample p{
        font-size:18px ;
        font-weight: bold;
    }
    
    .products .feature p{
        font-size: 20px;
        font-weight: bold;
    }
    
    .products .display .pro1{
      font-size: 25px;
      font-weight: bold;
     
    }
    
    
     .products .display{
         grid-template-columns: 400px 400px;
         
     }
    
    
    
    .products .display .pro1 img{
        width:100%;
        height: 30vh;
     }



     .days{
        width: 100%;
        margin:20px auto ;
        display: grid;
        grid-template-columns: 100px auto;
        text-align: justify;
        gap: 50px;
        justify-content: center;
    
    } 
    
    
     footer .social{ 
        display: flex;
        align-items: center;
        justify-content:space-around;
        height: 40px;
        color: #fefefe;
        background-color: black;
    }
    
    
    footer .power p{
       font-size: 12px;
    }
     
     
    
    }
    
    
    
    
    
    
    
    
    
    
    









@media (max-width:932px){

    *{
        padding: 0;
    }
        .top-header{
           display: none;
        }
       
        
   
        .header-nav{
            width: 80%;
            padding: 0 20px;
        }

        nav li a{
            
        }
    
        nav{
            position:fixed;
            left: -300px; 
            top: 0;
            z-index: 999;
            width: 280px;
            height: 100vh;
            background-color: #fefefe00;
            backdrop-filter: blur(60px);
            transition: 0.5s;
            box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.5);
                  
          }
    
    
        #nav_check:checked ~  nav{
             left: 0; 
            
        }
    
        .header-nav nav .logo{
            display: block;
            height: 80px;
            display: flex;
            align-items: center;
            margin-left: 30px;
        }
    
        .header-nav nav ul li a{
            margin-bottom: 5px;
            padding: 10px 15px;
            border-radius: 50px;
            color:rebeccapurple;
            display: flex;
            
        }

         .header-nav nav ul li  a.active{
            background-color:white;
        } 

        .header-nav nav ul li a:hover{
        
        }
        
    
        .header-nav nav ul{
            display: block;
            padding: 10px;
        }
    
    
        .hamburger{
            display: block;
            
        }

        .intro .welcome {
            font-size: 25px;
            
           
        }

        .hero{
            width: 100%;
            background-repeat: no-repeat;
            height: 170x;
}


.sample{
    grid-template-columns: 110px 110px 110px;
    padding: auto;
    
}


.products .feature p{
    font-size: 17px;
    font-weight: bold;
}

.sample .image img{
    width: 80px;
    border-radius: 180px;
    height: 80px;

}

.sample p{
    font-size:15px ;
   
    text-align: center;
}

.products .display .pro1{
  font-size: 17px;
  font-weight: bold;
  margin: 50px;
 
}


 .products .display{
    grid-template-columns:350px;
    
  
 }



.products .display .pro1 img{
    width:100%;
    height: 40vh;
    
 }








 .contact .social{
    text-align: center;
    margin: 50px; 
    display: grid;
    grid-template-columns: 160px 160px;
   justify-content: center; 
    
   } 
   
   
   .contact .social .icon{
     background-color: #fefefe;
     margin: 5px;
     height: 100px;
     border-radius: 16px;
     padding: 5px;
     font-size: medium;
   }
   
   .contact .social i{
      background-color: #f4f4f4; 
      padding: 20px;
      border-radius: 50px;
      margin: 10px 0 5px;
   }


   .contact-info{
    margin: 20px  auto; 
    background-color: white;
    padding: 20px 5px;
    
 }
 



   .contact-info .intel{
    display: flex;
    text-align: justify;
    align-items: center;
    gap: 10px;
    border: #f4f4f4 5px solid;
    border-radius: 16px;
    padding: 10px;
    width: 80%;
  }
  
  .contact-info i{
      background-color: black;
      color: white;
      padding: 15px;
      border-radius: 100px;
      font-size: 20px;
  }
  
   




  .newsletter{
    padding-top: 2px;
    text-align: center;
  
}

.newsletter .intro p{
   text-transform: capitalize;
   font-weight: bold;
   font-size: 15px;
   padding: 5px;
   text-align: center;
   margin-bottom: 30px;
   
}

form{
   
    margin: auto;
   
    
}


form .form-control{
    margin:10px auto;
    width: 100%; 
    justify-content: center;
    text-align: center;
    align-items: center;
   
      

}

form .form-control input{
   
    width: auto;
    box-sizing: border-box;
    min-width: 0;
    padding: 1em;
    font: inherit;
    border-radius: 0 10px 10px 0;
    border: 2px solid var(--input-color);
    transition: 150ms ease;
    

}


form .form-control label{
   
}


form button{
   
    margin: 10px auto;
    border: none;
    border-radius: 30px;
    padding: .3em 2em;
    background-color:  rgb(167, 167, 189);
    color: var(--base-color);
    font: inherit;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 150ms ease;

}








 
 footer .social{ 
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 40px;
    color: #fefefe;
    background-color: black;
}


footer .power p{
   font-size: 12px;
}



}