*{
    padding: 0;
    margin: 0;
    font-weight: 0;
      
    
}

body{
    font: 20px/1.5 Arial, Helve tica, san serif;
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color:rgb(241, 241, 250);

}

header{
    
}

.top-header{ 
    display: flex;
    top: 0;
    position: sticky;
    z-index: 999; 
    align-items: center;
    padding: 0 30px;
    justify-content:space-between;
    height: 40px;
    color: #fefefe;
    background-color: black;
}

 .top-header .social i{
    margin: 40px;
}

.top-header .social i:hover{
    cursor: pointer;
   color: black;
   background-color: #fefefe;
   padding: 6px;
   border-radius: 6px; 
} 




a{
    text-decoration: none;
    text-transform: capitalize;
     font-weight: bold;
}

.header-nav nav .logo{
    display: none;
    
}

.header-nav{
    display: flex;
    top: 0;
    z-index:111;
    position: sticky;
    padding: 0px 40px;
    background-color: #fefefe;
    align-items: center;
    justify-content: space-between;
    width: 86%;
    margin: auto;
    height: 70px;
    border-radius: 0 0 20px 20px;
     
}

.header-nav nav ul{
    display:flex;
}

.header-nav .logo h1{
    font-size: larger;
}

.header-nav nav ul li{
    margin: 30px;
    list-style:none;
}

.hamburger{
    display:none ;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2s;
}

 .header-nav nav ul li a:hover{
    /* background-color: #f6f4ff; */
}

 .header-nav nav ul li a.active{
    border:rgb(109, 109, 133) 2px solid;
    color:rebeccapurple;
    border-radius: 6px;
    padding: 5px;
    
}

/* .hamburger{
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2s;
} */

.header-nav .hamburger:hover{
    background-color:rgb(109, 109, 133);
    
}


.header-nav .hamburger div{
    width: 33px;
    height: 5.5px;
    margin: 8px 0;
    background-color: #212526;
}

/* welcome  styling  starts here*/

.intro .welcome {
    font-family: cursive;
    text-align: center;
    border-bottom: 3px #fefefe solid;
    padding:40px ;
}

.intro .welcome p{
    font-size: 30px;
}
/* welcome styling end here */

.hero{
    
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin:50px  auto;
        width: 100% ;
        height: 600px;
        background-image: url("../image/background\ 1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        animation: change 10s infinite step-end;
      } 
      
      @keyframes change {
        0% {
          background-image: url(..//image/background\ 1.jpg);
        }
        20% {
          background-image: url(../image/background\ 4.jpg);
        }
        40% {
          background-image: url(../image/background\ 6.jpg);
        }
        60% {
            background-image: url(../image/background\ 3.jpg);
          }
          80% {
            background-image: url(../image/background\ 5.jpg);
          }
      }  




/* hero section starts here */



/* sample ssection starts here */

 .sample{
    width: 80%;
    padding: auto;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    margin: 100px auto 30px;
    text-align: justify;
    justify-content: center;
    font-weight: bold;

} 

.sample .image{
  margin: 10px auto 30px;  
  display: block;
  text-align: center; 

}



.sample .image img{
    width: 100px;
    border-radius: 200px;
    height: 100px;

}

/* sample seection ends here */



.products .feature p{
    font-size: 30px;
    font-family: cursive;
    font-weight: 300;
    text-align: center;
    border-bottom: 3px #fefefe solid;

}

/* product section starts here */

.products .display{
    display: grid;
    grid-template-columns: 400px 400px 400px 400px;
    margin:  auto ;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 50px;
    border-bottom:5px #fefefe solid ;
}

.products .display .pro1{
 text-align: justify;
 margin:50px;
 
}

.products .display .pro1 img{
   width:100%;
   height: 50vh;
}



.products .display .pro1 .p2{
   margin: 5px auto;
}

.products .display .pro1 .p1{
    margin: 5px auto;
 }


  
 /* product section end here */


 /* about starts here */

.about{
  text-align: center;
  padding: 70px auto;
  margin: 50px auto;
  
}

.about p{
  text-align: center;
  padding-bottom: 10px;
  width: 50%;
  margin: auto;
  font-weight:bold;
}
.about1, .about2 {
    
    text-align: center;
    padding: 30px 30px; 
}



.about1{
    background-color: #f4f4f4;
}



.business-hour  .business{
    text-align: center;
}



#p1{
    text-align:center;
    font-size: larger;
    font-weight: bold;
    padding-bottom: 40px;
}





.days{
    width: 20%; 
    margin:20px auto ; 
    display: grid;
    grid-template-columns:200px  auto; 
    /* display: flex;
    flex-direction:row; */
    gap: 50px;
    font-weight: bold;
    align-items: center;
    
}


/* .p2{
    text-align: justify;
    justify-content: baseline;
} */




/* contact section starts */

.contact .social{
 text-align: center;
 margin: 50px;
 display: grid;
 grid-template-columns: 500px 500px;
 
 justify-content: center;
} 


.contact .social .icon{
  background-color: #fefefe;
  margin: 40px;
  border-radius: 16px;
  padding: 20px;
}

.contact .social i{
   background-color: #f4f4f4; 
   padding: 20px;
   border-radius: 50px;
   margin: 15px 0 10px;
}



.contact-info{
   margin: 100px  auto; 
   background-color: white;
   padding: 100px;
   
}



.contact-info .intel{
  display: flex;
  text-align: justify;
  align-items: center;
  gap: 10px;
  margin: 30px auto;
  border: #f4f4f4 5px solid;
  border-radius: 16px;
  padding: 10px;
  width: 80%;
}

.contact-info i{
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 100px;
    font-size: 25px;
}


 

/* about ends here */







/* newsletter starts here */












.newsletter{
    padding-top: 2px;
    text-align: center;
    
  
}

.newsletter .intro p{
   text-transform: capitalize;
   font-weight: bold;
   text-align: center;
   margin-bottom: 30px;
   
}

form{
  
    /* width: min(400px, 100%);  */
   margin-top: 20px;
   margin-bottom: 50px;
   text-align: center;
   align-items: center;
   gap: 10px;
    
}


form .form-control{
  

   width: 100%; 
   justify-content: center;
   text-align: center;
   align-items: center;
   margin:20px 0 20px 0;
    

}
form label{
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: var(--accent-color);
    fill: var(--base-color);
    color: var(--base-color);
    border-radius: 10px 0 0 10px;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
}

form .form-control input{
   
     box-sizing: border-box;
     flex-grow: 1;
     width: 50%;
     min-width: 0;
     height: 50px;
     padding: 1em;
     font: inherit;
     border-radius: 0 10px 10px 0;
     border: 2px solid var(--input-color);
     transition: 150ms ease;

}


form button{
    margin: 10px auto;
    border: none;
    border-radius: 30px;
    padding: .3em 2em;
    background-color:  rgb(167, 167, 189);
    color: var(--base-color);
    font: inherit;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: 150ms ease;
    
}


form button:hover{
    color: #f4f4f4;
    cursor: pointer;

}



























/* newsletter ends */






/* footer stass here */

footer .social{ 
    display:none;
    align-items: center;
    padding: 0 30px;
    justify-content:space-around;
    height: 40px;
    color: #fefefe;
    background-color: black;
}


footer .social i:hover{
   cursor: pointer;
   color: black;
   background-color: #fefefe;
   padding: 6px;
   border-radius: 6px; 
} 


footer .power p{
    color: #fefefe;
    text-align: center;
    background-color: black;
}